In [1056]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-price/house_prices.csv

# IMPORTING MODULES

In [1057]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# LOAD THE DATASET

In [1058]:
df = pd.read_csv('/kaggle/input/house-price/house_prices.csv')
pd.set_option('display.max_columns', None)
df.head(5)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [1059]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

# DATA PROCESSING

In [1060]:
df.shape

(187531, 21)

In [1061]:
df.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [1062]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

# FIND/REMOVING DUPLICATES

In [1063]:
df.duplicated().sum()

np.int64(0)

# HANDLING MISSING VALUES

In [1064]:
df.isnull().sum() * 100/len(df)

Index                  0.000000
Title                  0.000000
Description            1.612000
Amount(in rupees)      0.000000
Price (in rupees)      9.419776
location               0.000000
Carpet Area           43.018488
Status                 0.327946
Floor                  3.773776
Transaction            0.044259
Furnishing             1.544811
facing                37.451408
overlooking           43.425354
Society               58.485264
Bathroom               0.441527
Balcony               26.094352
Car Parking           55.114621
Ownership             34.936624
Super Area            57.422506
Dimensions           100.000000
Plot Area            100.000000
dtype: float64

In [1065]:
df.drop(columns=['Index', 'Description', 'Amount(in rupees)', 'Society', 'Dimensions', 'overlooking', 'Plot Area', 'facing'], inplace=True)

In [1066]:
df.isnull().sum()

Title                     0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
dtype: int64

In [1067]:
df.head()

,Title,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,1 BHK Ready to Occupy Flat for sale in Srushti...,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,NaN,NaN,NaN
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,1 Open,Freehold,NaN
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,1 Covered,Freehold,NaN
3,1 BHK Ready to Occupy Flat for sale Kasheli,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,1,1,NaN,NaN,NaN
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,1 Covered,Co-operative Society,NaN

In [1068]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              187531 non-null  object
 1   Price (in rupees)  169866 non-null  float64
 2   location           187531 non-null  object
 3   Carpet Area        106858 non-null  object
 4   Status             186916 non-null  object
 5   Floor              180454 non-null  object
 6   Transaction        187448 non-null  object
 7   Furnishing         184634 non-null  object
 8   Bathroom           186703 non-null  object
 9   Balcony            138596 non-null  object
 10  Car Parking        84174 non-null   object
 11  Ownership          122014 non-null  object
 12  Super Area         79846 non-null   object
dtypes: float64(1), object(12)
memory usage: 18.6+ MB

In [1069]:
# df['Price (in rupees)'].fillna(df['Price (in rupees)'].median(), inplace=True)

In [1070]:
df['location'].value_counts()

location
new-delhi      27599
bangalore      24030
kolkata        22380
gurgaon        20070
ahmedabad      12750
               ...
nellore           30
pondicherry       30
navsari           30
palakkad          30
solapur           30
Name: count, Length: 81, dtype: int64

In [1071]:
df['Status'].value_counts()

Status
Ready to Move    186916
Name: count, dtype: int64

In [1072]:
# df['location'] = df['location'].fillna("Unknown")

In [1073]:
df.head()

,Title,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,1 BHK Ready to Occupy Flat for sale in Srushti...,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,NaN,NaN,NaN
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,1 Open,Freehold,NaN
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,1 Covered,Freehold,NaN
3,1 BHK Ready to Occupy Flat for sale Kasheli,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,1,1,NaN,NaN,NaN
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,1 Covered,Co-operative Society,NaN

In [1074]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              187531 non-null  object
 1   Price (in rupees)  169866 non-null  float64
 2   location           187531 non-null  object
 3   Carpet Area        106858 non-null  object
 4   Status             186916 non-null  object
 5   Floor              180454 non-null  object
 6   Transaction        187448 non-null  object
 7   Furnishing         184634 non-null  object
 8   Bathroom           186703 non-null  object
 9   Balcony            138596 non-null  object
 10  Car Parking        84174 non-null   object
 11  Ownership          122014 non-null  object
 12  Super Area         79846 non-null   object
dtypes: float64(1), object(12)
memory usage: 18.6+ MB

In [1075]:
df = df.dropna(subset=['Price (in rupees)'])

In [1076]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169866 entries, 0 to 187530
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              169866 non-null  object
 1   Price (in rupees)  169866 non-null  float64
 2   location           169866 non-null  object
 3   Carpet Area        93631 non-null   object
 4   Status             169271 non-null  object
 5   Floor              163023 non-null  object
 6   Transaction        169860 non-null  object
 7   Furnishing         167806 non-null  object
 8   Bathroom           169112 non-null  object
 9   Balcony            124804 non-null  object
 10  Car Parking        78916 non-null   object
 11  Ownership          111629 non-null  object
 12  Super Area         76235 non-null   object
dtypes: float64(1), object(12)
memory usage: 18.1+ MB

In [1077]:
df.isnull().sum()

Title                    0
Price (in rupees)        0
location                 0
Carpet Area          76235
Status                 595
Floor                 6843
Transaction              6
Furnishing            2060
Bathroom               754
Balcony              45062
Car Parking          90950
Ownership            58237
Super Area           93631
dtype: int64

In [1078]:
df.head()

,Title,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,1 BHK Ready to Occupy Flat for sale in Srushti...,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,NaN,NaN,NaN
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,1 Open,Freehold,NaN
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,1 Covered,Freehold,NaN
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,1 Covered,Co-operative Society,NaN
5,1 BHK Ready to Occupy Flat for sale in Virat A...,6618.0,thane,NaN,Ready to Move,2 out of 7,Resale,Unfurnished,1,1,NaN,Co-operative Society,680 sqft

In [1079]:
# df['Status'].fillna(df['Status'].mode(), inplace=True)

In [1080]:
df['Transaction'].value_counts()

Transaction
Resale          129333
New Property     40521
Other                4
Rent/Lease           2
Name: count, dtype: int64

In [1081]:
# df['Transaction'].fillna(df['Transaction'].mode(), inplace=True)

In [1082]:
df['Furnishing'].value_counts()

Furnishing
Semi-Furnished    79574
Unfurnished       70303
Furnished         17929
Name: count, dtype: int64

In [1083]:
df = df.dropna(subset=['Status', 'Furnishing', 'Transaction', 'location', 'Car Parking', 'Ownership'])

In [1084]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74366 entries, 1 to 187530
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              74366 non-null  object
 1   Price (in rupees)  74366 non-null  float64
 2   location           74366 non-null  object
 3   Carpet Area        56394 non-null  object
 4   Status             74366 non-null  object
 5   Floor              71742 non-null  object
 6   Transaction        74366 non-null  object
 7   Furnishing         74366 non-null  object
 8   Bathroom           74365 non-null  object
 9   Balcony            68967 non-null  object
 10  Car Parking        74366 non-null  object
 11  Ownership          74366 non-null  object
 12  Super Area         17972 non-null  object
dtypes: float64(1), object(12)
memory usage: 7.9+ MB

In [1085]:
df.isnull().sum()

Title                    0
Price (in rupees)        0
location                 0
Carpet Area          17972
Status                   0
Floor                 2624
Transaction              0
Furnishing               0
Bathroom                 1
Balcony               5399
Car Parking              0
Ownership                0
Super Area           56394
dtype: int64

In [1086]:
df.head(20)

,Title,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Super Area
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,1 Open,Freehold,NaN
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,1 Covered,Freehold,NaN
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,1 Covered,Co-operative Society,NaN
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,Unfurnished,3,1,1 Covered,Freehold,NaN
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,950 sqft,Ready to Move,6 out of 20,Resale,Semi-Furnished,2,NaN,1 Open,Co-operative Society,NaN
13,4 BHK Ready to Occupy Flat for sale Hiranandan...,17526.0,thane,1820 sqft,Ready to Move,18 out of 27,Resale,Semi-Furnished,4,1,2 Covered,Freehold,NaN
15,2 BHK Ready to Occupy Flat for sale in Puranik...,10000.0,thane,675 sqft,Ready to Move,10 out of 16,New Property,Unfurnished,2,1,1 Covered,Freehold,NaN
18,2 BHK Ready to Occupy Flat for sale in Everest...,11250.0,thane,600 sqft,Ready to Move,20 out of 28,Resale,Unfurnished,2,NaN,66 Covered,Co-operative Society,NaN
20,1 BHK Ready to Occupy Flat for sale in Pride R...,8571.0,thane,430 sqft,Ready to Move,3 out of 7,Resale,Semi-Furnished,1,NaN,1 Open,Freehold,NaN
21,2 BHK Ready to Occupy Flat for sale in Ashar E...,15000.0,thane,665 sqft,Ready to Move,15 out of 31,Resale,Unfurnished,2,2,1 Covered,Freehold,NaN
22,2 BHK Ready to Occupy Flat for sale in Lodha A...,12213.0,thane,557 sqft,Ready to Move,2 out of 28,Resale,Unfurnished,2,NaN,1 Covered,Freehold,NaN
28,3 BHK Ready to Occupy Flat for sale in Palacia...,14344.0,thane,925 sqft,Ready to Move,8 out of 20,Resale,Furnished,3,3,1 Covered,Freehold,NaN
29,1 BHK Ready to Occupy Flat for sale in Balaji ...,7287.0,thane,434 sqft,Ready to Move,9 out of 24,New Property,Semi-Furnished,1,1,1 Open,Freehold,NaN
30,4 BHK Ready to Occupy Flat for sale in Hiranan...,17827.0,thane,1350 sqft,Ready to Move,16 out of 27,Resale,Unfurnished,3,1,2 Covered,Freehold,NaN
31,2 BHK Ready to Occupy Flat for sale in Auralis...,15196.0,thane,850 sqft,Ready to Move,14 out of 29,Resale,Semi-Furnished,2,2,1 Covered,Freehold,NaN
32,1 BHK Ready to Occupy Flat for sale in Orovia ...,11608.0,thane,467 sqft,Ready to Move,12 out of 27,Resale,Semi-Furnished,2,1,1 Covered,Power Of Attorney,NaN
33,3 BHK Ready to Occupy Flat for sale in Rustomj...,11008.0,thane,849 sqft,Ready to Move,1 out of 27,Resale,Semi-Furnished,3,NaN,1 Covered,Freehold,NaN
38,2 BHK Ready to Occupy Flat for sale in Dosti W...,12369.0,thane,639 sqft,Ready to Move,16 out of 38,New Property,Unfurnished,2,1,1 Covered,Freehold,NaN
45,2 BHK Ready to Occupy Flat for sale in bakul v...,13750.0,thane,620 sqft,Ready to Move,5 out of 7,Resale,Semi-Furnished,1,1,1 Covered,Co-operative Society,NaN
49,3 BHK Ready to Occupy Flat for sale in Kalpa T...,12821.0,thane,880 sqft,Ready to Move,7 out of 16,Resale,Semi-Furnished,2,NaN,1 Covered,Freehold,NaN

In [1087]:
df.shape

(74366, 13)

In [1088]:
df.drop(columns=['Super Area'], inplace=True)

In [1089]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74366 entries, 1 to 187530
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              74366 non-null  object
 1   Price (in rupees)  74366 non-null  float64
 2   location           74366 non-null  object
 3   Carpet Area        56394 non-null  object
 4   Status             74366 non-null  object
 5   Floor              71742 non-null  object
 6   Transaction        74366 non-null  object
 7   Furnishing         74366 non-null  object
 8   Bathroom           74365 non-null  object
 9   Balcony            68967 non-null  object
 10  Car Parking        74366 non-null  object
 11  Ownership          74366 non-null  object
dtypes: float64(1), object(11)
memory usage: 7.4+ MB

## FEATURE ENGINEERING

In [1090]:
df.isnull().sum()

Title                    0
Price (in rupees)        0
location                 0
Carpet Area          17972
Status                   0
Floor                 2624
Transaction              0
Furnishing               0
Bathroom                 1
Balcony               5399
Car Parking              0
Ownership                0
dtype: int64

In [1091]:
df["Carpet Area"].unique()[:100]

array(['473 sqft', '779 sqft', '635 sqft', '900 sqft', '950 sqft',
       '1820 sqft', '675 sqft', '600 sqft', '430 sqft', '665 sqft',
       '557 sqft', '925 sqft', '434 sqft', '1350 sqft', '850 sqft',
       '467 sqft', '849 sqft', '639 sqft', '620 sqft', '880 sqft',
       '380 sqft', nan, '661 sqft', '504 sqft', '799 sqft', '586 sqft',
       '1200 sqft', '590 sqft', '960 sqft', '1168 sqft', '460 sqft',
       '624 sqft', '450 sqft', '420 sqft', '744 sqft', '740 sqft',
       '686 sqft', '410 sqft', '759 sqft', '530 sqft', '1041 sqft',
       '735 sqft', '688 sqft', '640 sqft', '680 sqft', '1073 sqft',
       '400 sqft', '483 sqft', '453 sqft', '760 sqft', '1704 sqft',
       '587 sqft', '699 sqft', '763 sqft', '1140 sqft', '889 sqft',
       '415 sqft', '894 sqft', '758 sqft', '1153 sqft', '671 sqft',
       '650 sqft', '913 sqft', '750 sqft', '706 sqft', '612 sqft',
       '730 sqft', '510 sqft', '961 sqft', '1228 sqft', '480 sqft',
       '551 sqft', '435 sqft', '1359 sqft', '495 sqft', '1650 sqft',
       '870 sqft', '830 sqft', '454 sqft', '721 sqft', '790 sqft',
       '1100 sqft', '700 sqft', '500 sqft', '1203 sqft', '1012 sqft',
       '879 sqft', '2024 sqft', '630 sqft', '702 sqft', '440 sqft',
       '330 sqft', '1011 sqft', '1190 sqft', '1090 sqft', '438 sqft',
       '1300 sqft', '720 sqft', '384 sqft', '810 sqft'], dtype=object)

In [1092]:
df["Carpet Area"].str.contains("sqm|sqyard", case=False, na=False).sum()

np.int64(172)

In [1093]:
df['Carpet Area'] = df['Carpet Area'].str.lower()
df["area_value"] = (
    df["Carpet Area"]
        .str.extract(r'([\d.]+)')
        .astype(float)
)
df["area_unit"] = df["Carpet Area"].str.extract(r'(sqft|sqm|sqyard)')

In [1094]:
df.head(20)

,Title,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,area_value,area_unit
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,1 Open,Freehold,473.0,sqft
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,1 Covered,Freehold,779.0,sqft
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,1 Covered,Co-operative Society,635.0,sqft
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0,sqft
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,950 sqft,Ready to Move,6 out of 20,Resale,Semi-Furnished,2,NaN,1 Open,Co-operative Society,950.0,sqft
13,4 BHK Ready to Occupy Flat for sale Hiranandan...,17526.0,thane,1820 sqft,Ready to Move,18 out of 27,Resale,Semi-Furnished,4,1,2 Covered,Freehold,1820.0,sqft
15,2 BHK Ready to Occupy Flat for sale in Puranik...,10000.0,thane,675 sqft,Ready to Move,10 out of 16,New Property,Unfurnished,2,1,1 Covered,Freehold,675.0,sqft
18,2 BHK Ready to Occupy Flat for sale in Everest...,11250.0,thane,600 sqft,Ready to Move,20 out of 28,Resale,Unfurnished,2,NaN,66 Covered,Co-operative Society,600.0,sqft
20,1 BHK Ready to Occupy Flat for sale in Pride R...,8571.0,thane,430 sqft,Ready to Move,3 out of 7,Resale,Semi-Furnished,1,NaN,1 Open,Freehold,430.0,sqft
21,2 BHK Ready to Occupy Flat for sale in Ashar E...,15000.0,thane,665 sqft,Ready to Move,15 out of 31,Resale,Unfurnished,2,2,1 Covered,Freehold,665.0,sqft
22,2 BHK Ready to Occupy Flat for sale in Lodha A...,12213.0,thane,557 sqft,Ready to Move,2 out of 28,Resale,Unfurnished,2,NaN,1 Covered,Freehold,557.0,sqft
28,3 BHK Ready to Occupy Flat for sale in Palacia...,14344.0,thane,925 sqft,Ready to Move,8 out of 20,Resale,Furnished,3,3,1 Covered,Freehold,925.0,sqft
29,1 BHK Ready to Occupy Flat for sale in Balaji ...,7287.0,thane,434 sqft,Ready to Move,9 out of 24,New Property,Semi-Furnished,1,1,1 Open,Freehold,434.0,sqft
30,4 BHK Ready to Occupy Flat for sale in Hiranan...,17827.0,thane,1350 sqft,Ready to Move,16 out of 27,Resale,Unfurnished,3,1,2 Covered,Freehold,1350.0,sqft
31,2 BHK Ready to Occupy Flat for sale in Auralis...,15196.0,thane,850 sqft,Ready to Move,14 out of 29,Resale,Semi-Furnished,2,2,1 Covered,Freehold,850.0,sqft
32,1 BHK Ready to Occupy Flat for sale in Orovia ...,11608.0,thane,467 sqft,Ready to Move,12 out of 27,Resale,Semi-Furnished,2,1,1 Covered,Power Of Attorney,467.0,sqft
33,3 BHK Ready to Occupy Flat for sale in Rustomj...,11008.0,thane,849 sqft,Ready to Move,1 out of 27,Resale,Semi-Furnished,3,NaN,1 Covered,Freehold,849.0,sqft
38,2 BHK Ready to Occupy Flat for sale in Dosti W...,12369.0,thane,639 sqft,Ready to Move,16 out of 38,New Property,Unfurnished,2,1,1 Covered,Freehold,639.0,sqft
45,2 BHK Ready to Occupy Flat for sale in bakul v...,13750.0,thane,620 sqft,Ready to Move,5 out of 7,Resale,Semi-Furnished,1,1,1 Covered,Co-operative Society,620.0,sqft
49,3 BHK Ready to Occupy Flat for sale in Kalpa T...,12821.0,thane,880 sqft,Ready to Move,7 out of 16,Resale,Semi-Furnished,2,NaN,1 Covered,Freehold,880.0,sqft

In [1095]:
df[["Carpet Area", "area_value", "area_unit"]].head()
df["area_unit"].value_counts(dropna=False)

area_unit
sqft    54221
NaN     19973
sqm       172
Name: count, dtype: int64

In [1096]:
df["area_unit"] = df["area_unit"].fillna("sqft")

In [1097]:
df['area_unit'].value_counts()

area_unit
sqft    74194
sqm       172
Name: count, dtype: int64

In [1098]:
df['Carpet Area(Sqft)'] = df['area_value']
df.loc[df['area_unit'] == 'sqm', 'Carpet Area(Sqft)'] *= 10.7639

In [1099]:
df["Carpet Area(Sqft)"].describe()

count     56394.000000
mean       1366.457823
std        1422.414989
min           1.000000
25%         890.000000
50%        1300.000000
75%        1600.000000
max      194936.000000
Name: Carpet Area(Sqft), dtype: float64

In [1100]:
df = df[(df["Carpet Area(Sqft)"] > 200) & (df["Carpet Area(Sqft)"] < 4000)]

In [1101]:
df["Carpet Area(Sqft)"].describe()

count    54220.000000
mean      1333.816851
std        627.238893
min        204.000000
25%        900.000000
50%       1300.000000
75%       1600.000000
max       3990.000000
Name: Carpet Area(Sqft), dtype: float64

In [1102]:
df.head()

,Title,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,area_value,area_unit,Carpet Area(Sqft)
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,1 Open,Freehold,473.0,sqft,473.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,1 Covered,Freehold,779.0,sqft,779.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,1 Covered,Co-operative Society,635.0,sqft,635.0
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0,sqft,900.0
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,950 sqft,Ready to Move,6 out of 20,Resale,Semi-Furnished,2,NaN,1 Open,Co-operative Society,950.0,sqft,950.0

In [1103]:
df['Price Per Sqft'] = df['Price (in rupees)'] / df['Carpet Area(Sqft)']

In [1104]:
df['Price Per Sqft'].describe()

count    54220.000000
mean         7.733692
std         29.088850
min          0.000000
25%          4.571200
50%          6.210227
75%          8.333571
max       4166.597938
Name: Price Per Sqft, dtype: float64

In [1105]:
df["Price (in rupees)"].describe()

count    5.422000e+04
mean     8.827199e+03
std      2.595905e+04
min      0.000000e+00
25%      5.023750e+03
50%      7.296000e+03
75%      1.105600e+04
max      4.041600e+06
Name: Price (in rupees), dtype: float64

In [1106]:
df = df[df["Price (in rupees)"] > 0]

In [1107]:
Q1 = df["Price (in rupees)"].quantile(0.25)
Q3 = df["Price (in rupees)"].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

df = df[(df["Price (in rupees)"] >= lower) & 
        (df["Price (in rupees)"] <= upper)]

In [1108]:
df.head()

,Title,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,area_value,area_unit,Carpet Area(Sqft),Price Per Sqft
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,1 Open,Freehold,473.0,sqft,473.0,29.173362
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,1 Covered,Freehold,779.0,sqft,779.0,22.464698
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,1 Covered,Co-operative Society,635.0,sqft,635.0,29.644094
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0,sqft,900.0,12.388889
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,950 sqft,Ready to Move,6 out of 20,Resale,Semi-Furnished,2,NaN,1 Open,Co-operative Society,950.0,sqft,950.0,12.814737

In [1109]:
df['Price (in rupees)'].describe()

count    52028.000000
mean      7978.981625
std       3622.815283
min          4.000000
25%       5000.000000
50%       7150.000000
75%      10667.000000
max      20086.000000
Name: Price (in rupees), dtype: float64

In [1110]:
df.drop(columns=["Price Per Sqft"], inplace=True)

In [1111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52028 entries, 1 to 187528
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              52028 non-null  object
 1   Price (in rupees)  52028 non-null  float64
 2   location           52028 non-null  object
 3   Carpet Area        52028 non-null  object
 4   Status             52028 non-null  object
 5   Floor              50447 non-null  object
 6   Transaction        52028 non-null  object
 7   Furnishing         52028 non-null  object
 8   Bathroom           52028 non-null  object
 9   Balcony            49688 non-null  object
 10  Car Parking        52028 non-null  object
 11  Ownership          52028 non-null  object
 12  area_value         52028 non-null  float64
 13  area_unit          52028 non-null  object
 14  Carpet Area(Sqft)  52028 non-null  float64
dtypes: float64(3), object(12)
memory usage: 6.4+ MB

In [1112]:
df.isnull().sum()

Title                   0
Price (in rupees)       0
location                0
Carpet Area             0
Status                  0
Floor                1581
Transaction             0
Furnishing              0
Bathroom                0
Balcony              2340
Car Parking             0
Ownership               0
area_value              0
area_unit               0
Carpet Area(Sqft)       0
dtype: int64

In [1113]:
df.drop(columns=['Carpet Area', 'area_value', 'area_unit'], inplace=True)

In [1114]:
df.isnull().sum()

Title                   0
Price (in rupees)       0
location                0
Status                  0
Floor                1581
Transaction             0
Furnishing              0
Bathroom                0
Balcony              2340
Car Parking             0
Ownership               0
Carpet Area(Sqft)       0
dtype: int64

In [1115]:
df.head()

,Title,Price (in rupees),location,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Carpet Area(Sqft)
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,1 Open,Freehold,473.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,1 Covered,Freehold,779.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,1 Covered,Co-operative Society,635.0
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,Ready to Move,3 out of 27,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,Ready to Move,6 out of 20,Resale,Semi-Furnished,2,NaN,1 Open,Co-operative Society,950.0

In [1116]:
df['Bathroom'].value_counts()

Bathroom
2     22811
3     19077
4      7840
1      1532
5       727
6        35
7         4
10        1
9         1
Name: count, dtype: int64

In [1117]:
df['Balcony'].value_counts()

Balcony
2     17885
1     13332
3     11373
4      6726
5       321
6        40
10        5
7         4
8         1
9         1
Name: count, dtype: int64

In [1118]:
df['Balcony'].unique()

array([nan, '1', '2', '3', '4', '5', '6', '10', '7', '8', '9'],
      dtype=object)

In [1119]:
df['Balcony']

1         NaN
2         NaN
4         NaN
9           1
10        NaN
         ...
187517      3
187520      4
187523      3
187524      2
187528      2
Name: Balcony, Length: 52028, dtype: object

In [1120]:
df['Balcony'] = pd.to_numeric(df['Balcony'], errors='coerce')
df['Bathroom'] = pd.to_numeric(df['Bathroom'], errors='coerce')

In [1121]:
df['Balcony'].fillna(df['Balcony'].median(), inplace=True)
df['Bathroom'].fillna(df['Bathroom'].median(), inplace=True)

In [1122]:
df.loc[df['Bathroom'] == '>10', 'Bathroom'] = 11
df['Bathroom'] = df['Bathroom'].astype(int)

In [1123]:
df.loc[df['Balcony'] == '>10', 'Balcony'] = 11
df['Balcony'] = df['Balcony'].astype(int)

In [1124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52028 entries, 1 to 187528
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              52028 non-null  object
 1   Price (in rupees)  52028 non-null  float64
 2   location           52028 non-null  object
 3   Status             52028 non-null  object
 4   Floor              50447 non-null  object
 5   Transaction        52028 non-null  object
 6   Furnishing         52028 non-null  object
 7   Bathroom           52028 non-null  int64
 8   Balcony            52028 non-null  int64
 9   Car Parking        52028 non-null  object
 10  Ownership          52028 non-null  object
 11  Carpet Area(Sqft)  52028 non-null  float64
dtypes: float64(2), int64(2), object(8)
memory usage: 5.2+ MB

In [1125]:
df.isnull().sum()

Title                   0
Price (in rupees)       0
location                0
Status                  0
Floor                1581
Transaction             0
Furnishing              0
Bathroom                0
Balcony                 0
Car Parking             0
Ownership               0
Carpet Area(Sqft)       0
dtype: int64

In [1126]:
df.head(10)

,Title,Price (in rupees),location,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Carpet Area(Sqft)
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,2,1 Open,Freehold,473.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,Ready to Move,10 out of 29,Resale,Unfurnished,2,2,1 Covered,Freehold,779.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,Ready to Move,20 out of 42,Resale,Unfurnished,2,2,1 Covered,Co-operative Society,635.0
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,Ready to Move,3 out of 27,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,Ready to Move,6 out of 20,Resale,Semi-Furnished,2,2,1 Open,Co-operative Society,950.0
13,4 BHK Ready to Occupy Flat for sale Hiranandan...,17526.0,thane,Ready to Move,18 out of 27,Resale,Semi-Furnished,4,1,2 Covered,Freehold,1820.0
15,2 BHK Ready to Occupy Flat for sale in Puranik...,10000.0,thane,Ready to Move,10 out of 16,New Property,Unfurnished,2,1,1 Covered,Freehold,675.0
18,2 BHK Ready to Occupy Flat for sale in Everest...,11250.0,thane,Ready to Move,20 out of 28,Resale,Unfurnished,2,2,66 Covered,Co-operative Society,600.0
20,1 BHK Ready to Occupy Flat for sale in Pride R...,8571.0,thane,Ready to Move,3 out of 7,Resale,Semi-Furnished,1,2,1 Open,Freehold,430.0
21,2 BHK Ready to Occupy Flat for sale in Ashar E...,15000.0,thane,Ready to Move,15 out of 31,Resale,Unfurnished,2,2,1 Covered,Freehold,665.0

In [1127]:
df['Floor'].value_counts()

Floor
1 out of 4                  3865
2 out of 3                  2559
2 out of 4                  2150
3 out of 4                  1955
4 out of 8                  1708
                            ...
Ground out of 26               1
1 out of 21                    1
Lower Basement out of 23       1
2 out of 29                    1
3 out of 45                    1
Name: count, Length: 681, dtype: int64

In [1128]:
df['Total Floors'] = (df['Floor'].str.extract(r'out of (\d+)').astype(float))

In [1129]:
df.head()

,Title,Price (in rupees),location,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Carpet Area(Sqft),Total Floors
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,2,1 Open,Freehold,473.0,22.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,Ready to Move,10 out of 29,Resale,Unfurnished,2,2,1 Covered,Freehold,779.0,29.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,Ready to Move,20 out of 42,Resale,Unfurnished,2,2,1 Covered,Co-operative Society,635.0,42.0
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,Ready to Move,3 out of 27,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0,27.0
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,Ready to Move,6 out of 20,Resale,Semi-Furnished,2,2,1 Open,Co-operative Society,950.0,20.0

In [1130]:
import re

In [1131]:
def clean_current_floor(x):
    if pd.isnull(x):
        return np.nan
    x = x.lower()
    if "lower basement" in x:
        return -2
    elif "upper basement" in x:
        return -0.5
    elif "basement" in x:
        return -1
    elif "ground" in x:
        return 0
    else:
        match = re.search(r'(\d+)', x)
        if match:
            return int(match.group(1))
        else:
            return np.nan
df['Current Floor'] = df['Floor'].apply(clean_current_floor)

In [1132]:
df.head()

,Title,Price (in rupees),location,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Carpet Area(Sqft),Total Floors,Current Floor
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.0,thane,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,2,1 Open,Freehold,473.0,22.0,3.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.0,thane,Ready to Move,10 out of 29,Resale,Unfurnished,2,2,1 Covered,Freehold,779.0,29.0,10.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.0,thane,Ready to Move,20 out of 42,Resale,Unfurnished,2,2,1 Covered,Co-operative Society,635.0,42.0,20.0
9,3 BHK Ready to Occupy Flat for sale in Pride P...,11150.0,thane,Ready to Move,3 out of 27,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0,27.0,3.0
10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,12174.0,thane,Ready to Move,6 out of 20,Resale,Semi-Furnished,2,2,1 Open,Co-operative Society,950.0,20.0,6.0

In [1133]:
df["Current Floor"].fillna(df["Current Floor"].median(), inplace=True)
df["Total Floors"].fillna(df["Total Floors"].median(), inplace=True)

In [1134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52028 entries, 1 to 187528
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              52028 non-null  object
 1   Price (in rupees)  52028 non-null  float64
 2   location           52028 non-null  object
 3   Status             52028 non-null  object
 4   Floor              50447 non-null  object
 5   Transaction        52028 non-null  object
 6   Furnishing         52028 non-null  object
 7   Bathroom           52028 non-null  int64
 8   Balcony            52028 non-null  int64
 9   Car Parking        52028 non-null  object
 10  Ownership          52028 non-null  object
 11  Carpet Area(Sqft)  52028 non-null  float64
 12  Total Floors       52028 non-null  float64
 13  Current Floor      52028 non-null  float64
dtypes: float64(4), int64(2), object(8)
memory usage: 6.0+ MB

In [1135]:
df.isnull().sum()

Title                   0
Price (in rupees)       0
location                0
Status                  0
Floor                1581
Transaction             0
Furnishing              0
Bathroom                0
Balcony                 0
Car Parking             0
Ownership               0
Carpet Area(Sqft)       0
Total Floors            0
Current Floor           0
dtype: int64

In [1136]:
df.drop(columns=['Floor'],inplace=True)

In [1137]:
df.isnull().sum()

Title                0
Price (in rupees)    0
location             0
Status               0
Transaction          0
Furnishing           0
Bathroom             0
Balcony              0
Car Parking          0
Ownership            0
Carpet Area(Sqft)    0
Total Floors         0
Current Floor        0
dtype: int64

In [1138]:
df['Title'].value_counts()

Title
4 BHK Ready to Occupy Flat for sale in Hamdam Apartment Dwarka Sector 18         1647
4 BHK Ready to Occupy Flat for sale Kakatiya Hills Vasanth Nagar Colony           950
2 BHK Ready to Occupy Flat for sale Dwarka Mor                                    830
3 BHK Ready to Occupy Flat for sale in Harmony Apartment Dwarka Sector 23         825
3 BHK Ready to Occupy Flat for sale in Sarve Satyam Apartment Dwarka Sector 4     824
                                                                                 ...
4 BHK Ready to Occupy Flat for sale in Motia High Street ZIRAKPUR                   1
3 BHK Ready to Occupy Flat for sale in The Eminence ZIRAKPUR                        1
2 BHK Ready to Occupy Flat for sale Dera Basi                                       1
2 BHK Ready to Occupy Flat for sale in Trishla Plus Home Peer Muchalla              1
3 BHK Ready to Occupy Flat for sale in SAV Gulnaar Meadows Ambala Highway           1
Name: count, Length: 8935, dtype: int64

In [1139]:
df['BHK'] = (df['Title'].str.extract(r'(\d+)\s*bhk', flags=re.IGNORECASE).astype(float))

In [1140]:
df.drop(columns=['Title'], inplace=True)

In [1141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52028 entries, 1 to 187528
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Price (in rupees)  52028 non-null  float64
 1   location           52028 non-null  object
 2   Status             52028 non-null  object
 3   Transaction        52028 non-null  object
 4   Furnishing         52028 non-null  object
 5   Bathroom           52028 non-null  int64
 6   Balcony            52028 non-null  int64
 7   Car Parking        52028 non-null  object
 8   Ownership          52028 non-null  object
 9   Carpet Area(Sqft)  52028 non-null  float64
 10  Total Floors       52028 non-null  float64
 11  Current Floor      52028 non-null  float64
 12  BHK                51972 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 5.6+ MB

In [1142]:
df.isnull().sum()

Price (in rupees)     0
location              0
Status                0
Transaction           0
Furnishing            0
Bathroom              0
Balcony               0
Car Parking           0
Ownership             0
Carpet Area(Sqft)     0
Total Floors          0
Current Floor         0
BHK                  56
dtype: int64

In [1143]:
df['BHK'].value_counts()

BHK
3.0     26216
2.0     15429
4.0      9097
1.0       821
5.0       395
6.0         9
7.0         4
10.0        1
Name: count, dtype: int64

In [1144]:
df['BHK'].fillna(df['BHK'].mean(), inplace=True)

In [1145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52028 entries, 1 to 187528
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Price (in rupees)  52028 non-null  float64
 1   location           52028 non-null  object
 2   Status             52028 non-null  object
 3   Transaction        52028 non-null  object
 4   Furnishing         52028 non-null  object
 5   Bathroom           52028 non-null  int64
 6   Balcony            52028 non-null  int64
 7   Car Parking        52028 non-null  object
 8   Ownership          52028 non-null  object
 9   Carpet Area(Sqft)  52028 non-null  float64
 10  Total Floors       52028 non-null  float64
 11  Current Floor      52028 non-null  float64
 12  BHK                52028 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 5.6+ MB

In [1146]:
df.isnull().sum()

Price (in rupees)    0
location             0
Status               0
Transaction          0
Furnishing           0
Bathroom             0
Balcony              0
Car Parking          0
Ownership            0
Carpet Area(Sqft)    0
Total Floors         0
Current Floor        0
BHK                  0
dtype: int64

In [1147]:
df.head()

,Price (in rupees),location,Status,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Carpet Area(Sqft),Total Floors,Current Floor,BHK
1,13799.0,thane,Ready to Move,Resale,Semi-Furnished,2,2,1 Open,Freehold,473.0,22.0,3.0,2.0
2,17500.0,thane,Ready to Move,Resale,Unfurnished,2,2,1 Covered,Freehold,779.0,29.0,10.0,2.0
4,18824.0,thane,Ready to Move,Resale,Unfurnished,2,2,1 Covered,Co-operative Society,635.0,42.0,20.0,2.0
9,11150.0,thane,Ready to Move,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0,27.0,3.0,3.0
10,12174.0,thane,Ready to Move,Resale,Semi-Furnished,2,2,1 Open,Co-operative Society,950.0,20.0,6.0,3.0

In [1148]:
df['Price (in rupees)'].describe()

count    52028.000000
mean      7978.981625
std       3622.815283
min          4.000000
25%       5000.000000
50%       7150.000000
75%      10667.000000
max      20086.000000
Name: Price (in rupees), dtype: float64

In [1149]:
df['Carpet Area(Sqft)'].describe()

count    52028.000000
mean      1306.590587
std        609.383885
min        204.000000
25%        900.000000
50%       1296.000000
75%       1600.000000
max       3990.000000
Name: Carpet Area(Sqft), dtype: float64

In [1150]:
df.duplicated().sum()

np.int64(34962)

In [1151]:
df.drop_duplicates(inplace=True)

In [1152]:
df.shape

(17066, 13)

In [1153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17066 entries, 1 to 187528
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Price (in rupees)  17066 non-null  float64
 1   location           17066 non-null  object
 2   Status             17066 non-null  object
 3   Transaction        17066 non-null  object
 4   Furnishing         17066 non-null  object
 5   Bathroom           17066 non-null  int64
 6   Balcony            17066 non-null  int64
 7   Car Parking        17066 non-null  object
 8   Ownership          17066 non-null  object
 9   Carpet Area(Sqft)  17066 non-null  float64
 10  Total Floors       17066 non-null  float64
 11  Current Floor      17066 non-null  float64
 12  BHK                17066 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 1.8+ MB

In [1154]:
df.isnull().sum()

Price (in rupees)    0
location             0
Status               0
Transaction          0
Furnishing           0
Bathroom             0
Balcony              0
Car Parking          0
Ownership            0
Carpet Area(Sqft)    0
Total Floors         0
Current Floor        0
BHK                  0
dtype: int64

In [1155]:
df.head()

,Price (in rupees),location,Status,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Ownership,Carpet Area(Sqft),Total Floors,Current Floor,BHK
1,13799.0,thane,Ready to Move,Resale,Semi-Furnished,2,2,1 Open,Freehold,473.0,22.0,3.0,2.0
2,17500.0,thane,Ready to Move,Resale,Unfurnished,2,2,1 Covered,Freehold,779.0,29.0,10.0,2.0
4,18824.0,thane,Ready to Move,Resale,Unfurnished,2,2,1 Covered,Co-operative Society,635.0,42.0,20.0,2.0
9,11150.0,thane,Ready to Move,Resale,Unfurnished,3,1,1 Covered,Freehold,900.0,27.0,3.0,3.0
10,12174.0,thane,Ready to Move,Resale,Semi-Furnished,2,2,1 Open,Co-operative Society,950.0,20.0,6.0,3.0

## MODEL TRAIING AND PREDICTING

In [1156]:
X = df.drop(columns=['Price (in rupees)'])
y = df['Price (in rupees)']

In [1157]:
X = pd.get_dummies(X, drop_first=True)

In [1158]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1159]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [1160]:
# models = {
#     'Random Forest': RandomForestRegressor(random_state=42),
#     'Gradient Boosting': GradientBoostingRegressor(random_state=42),
# }

# for model_name, model in models.items():
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     r2 = r2_score(y_test, y_pred)
#     mae = mean_absolute_error(y_test, y_pred)
#     rmse = np.sqrt(mean_squared_error(y_test, y_pred))

#     print(f'{model_name}:')
#     print(f'R-squared: {r2:.2f}')
#     print(f'Mean Absolute Error (MAE): {mae:.2f}')
#     print(f'Root Mean Squared Error (RMSE): {rmse:.2f}')
#     print('----------------------------------------')

models = {
    'Random Forest': RandomForestRegressor(random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(random_state=42),
}

best_model = None
best_score = -np.inf
best_model_name = None

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))

    print(f'{model_name}:')
    print(f'R-squared: {r2:.2f}')
    print(f'MAE: {mae:.2f}')
    print(f'RMSE: {rmse:.2f}')
    print('----------------------------------------')
    
    if r2 > best_score:
        best_score = r2
        best_model = model
        best_model_name = model_name

print(f"Best Model: {best_model_name}")

Random Forest:
R-squared: 0.72
MAE: 1246.06
RMSE: 1876.16
----------------------------------------
Gradient Boosting:
R-squared: 0.65
MAE: 1513.40
RMSE: 2107.04
----------------------------------------
Best Model: Random Forest

## SAVING MODEL

In [1161]:
import joblib

In [1165]:
joblib.dump(best_model, "best_model.pkl", compress=9)

['best_model.pkl']

In [1163]:
joblib.dump(X.columns.tolist(), "columns.pkl")

['columns.pkl']

In [1164]:
unique_categories = {
    "location": df["location"].unique().tolist(),
    "Status": df["Status"].unique().tolist(),
    "Transaction": df["Transaction"].unique().tolist(),
    "Furnishing": df["Furnishing"].unique().tolist(),
    "Car Parking": df["Car Parking"].unique().tolist(),
    "Ownership": df["Ownership"].unique().tolist(),
}

joblib.dump(unique_categories, "unique_categories.pkl")

['unique_categories.pkl']