In [822]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-price/house_prices.csv

## IMPORTING MODULES

In [823]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## LOADING THE DATASET

In [824]:
df = pd.read_csv('/kaggle/input/house-price/house_prices.csv')
pd.set_option('display.max_columns', None)
df.head(5)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

## DATA PREPROCESSING

In [825]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [826]:
df.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [827]:
df.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [828]:
df.shape

(187531, 21)

## HANDLING MISSING VALUES

In [829]:
df.isnull().sum() * 100/len(df)

Index                  0.000000
Title                  0.000000
Description            1.612000
Amount(in rupees)      0.000000
Price (in rupees)      9.419776
location               0.000000
Carpet Area           43.018488
Status                 0.327946
Floor                  3.773776
Transaction            0.044259
Furnishing             1.544811
facing                37.451408
overlooking           43.425354
Society               58.485264
Bathroom               0.441527
Balcony               26.094352
Car Parking           55.114621
Ownership             34.936624
Super Area            57.422506
Dimensions           100.000000
Plot Area            100.000000
dtype: float64

In [830]:
df.drop(columns=['Plot Area', 'Dimensions', 'Super Area', 'Car Parking', 'Society'], inplace=True)

In [831]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Bathroom           186703 non-null  object
 14  Balcony            138596 non-null  object
 15  Ownership          122014 non-null  object
dtypes: float64(1), int64(1), object(14)
memory usage: 22.9+ MB

In [832]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Bathroom,Balcony,Ownership
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,1,2,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,2,NaN,Freehold
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,2,NaN,Freehold
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,1,1,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",2,NaN,Co-operative Society

In [833]:
df['Ownership'].value_counts()

Ownership
Freehold                112229
Leasehold                 5285
Co-operative Society      3431
Power Of Attorney         1069
Name: count, dtype: int64

In [834]:
df['Ownership'].fillna(df['Ownership'].mode()[0], inplace=True)

In [835]:
df['Bathroom'].value_counts()

Bathroom
2       93007
3       55781
1       18654
4       15600
5        3343
6         209
7          35
> 10       35
10         14
8          14
9          11
Name: count, dtype: int64

In [836]:
df['Bathroom'].dtype

dtype('O')

In [837]:
df['Bathroom'] = df['Bathroom'].astype(str).str.strip()
df['Bathroom'] = df['Bathroom'].replace("> 10", "11")

In [838]:
df['Bathroom'] = pd.to_numeric(df['Bathroom'], errors="coerce")

In [839]:
df['Bathroom'].fillna(df['Bathroom'].median(), inplace=True)

In [840]:
df['Bathroom'] = df['Bathroom'].astype(int)

In [841]:
df['Bathroom'].value_counts()

Bathroom
2     93835
3     55781
1     18654
4     15600
5      3343
6       209
7        35
11       35
10       14
8        14
9        11
Name: count, dtype: int64

In [842]:
df['Bathroom'].dtype

dtype('int64')

In [843]:
df['Balcony'].value_counts()

Balcony
2       51809
1       49219
3       27111
4        9420
5         841
6         132
> 10       22
7          14
10         13
8          13
9           2
Name: count, dtype: int64

In [844]:
df['Balcony'].dtype

dtype('O')

In [845]:
df['Balcony'] = df['Balcony'].astype(str).str.strip()
df['Balcony'] = df['Balcony'].replace("> 10", "11")

In [846]:
df['Balcony'] = pd.to_numeric(df['Balcony'], errors="coerce")

In [847]:
df['Balcony'].fillna(df['Balcony'].median(), inplace=True)

In [848]:
df['Balcony'] = df['Balcony'].astype(int)

In [849]:
df.isnull().sum()

Index                    0
Title                    0
Description           3023
Amount(in rupees)        0
Price (in rupees)    17665
location                 0
Carpet Area          80673
Status                 615
Floor                 7077
Transaction             83
Furnishing            2897
facing               70233
overlooking          81436
Bathroom                 0
Balcony                  0
Ownership                0
dtype: int64

In [850]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Bathroom,Balcony,Ownership
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,1,2,Freehold
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,2,2,Freehold
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,2,2,Freehold
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,1,1,Freehold
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",2,2,Co-operative Society

In [851]:
# df.isnull().sum() * 100/len(df)

In [852]:
df['overlooking'].value_counts()

overlooking
Main Road                                      32193
Garden/Park, Main Road                         27238
Garden/Park                                    23077
Garden/Park, Pool, Main Road                   12413
Pool, Garden/Park, Main Road                    3615
Garden/Park, Pool                               2880
Main Road, Garden/Park, Pool                    1359
Pool, Main Road                                 1136
Pool                                            1012
Main Road, Garden/Park                           666
Pool, Garden/Park                                435
Garden/Park, Main Road, Pool                      39
Main Road, Pool                                   11
Main Road, Pool, Garden/Park                       8
Pool, Main Road, Garden/Park                       6
Main Road, Not Available                           4
Garden/Park, Pool, Main Road, Not Available        1
Garden/Park, Not Available                         1
Pool, Main Road, Not Available                     1
Name: count, dtype: int64

In [853]:
df.drop(columns=['overlooking'], inplace=True)

In [854]:
df['facing'].value_counts()

facing
East            54741
North - East    24220
North           16533
West             8574
South            4694
North - West     3843
South - East     2622
South -West      2071
Name: count, dtype: int64

In [855]:
df.drop(columns=['facing'], inplace=True)

In [856]:
df.isnull().sum()

Index                    0
Title                    0
Description           3023
Amount(in rupees)        0
Price (in rupees)    17665
location                 0
Carpet Area          80673
Status                 615
Floor                 7077
Transaction             83
Furnishing            2897
Bathroom                 0
Balcony                  0
Ownership                0
dtype: int64

In [857]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Ownership
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,Freehold
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,2,Freehold
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,2,Freehold
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,1,1,Freehold
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,2,Co-operative Society

In [858]:
df['Furnishing'].value_counts()

Furnishing
Semi-Furnished    88318
Unfurnished       76154
Furnished         20162
Name: count, dtype: int64

In [859]:
df['Furnishing'].fillna(df['Furnishing'].mode()[0], inplace=True)

In [860]:
df.isnull().sum()

Index                    0
Title                    0
Description           3023
Amount(in rupees)        0
Price (in rupees)    17665
location                 0
Carpet Area          80673
Status                 615
Floor                 7077
Transaction             83
Furnishing               0
Bathroom                 0
Balcony                  0
Ownership                0
dtype: int64

In [861]:
df['Description'][0]

'Bhiwandi, Thane has an attractive 1 BHK Flat for sale. The property is ideally located in a strategic location in Srushti Siddhi Mangal Murti Complex township. This flat for resale is a choice property. This apartment ready to move in the Bhiwandi is available for an attractive price of\xa0INR 42 Lac. You will find it unfurnished.'

In [862]:
df.shape

(187531, 14)

In [863]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         187531 non-null  object
 11  Bathroom           187531 non-null  int64
 12  Balcony            187531 non-null  int64
 13  Ownership          187531 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 20.0+ MB

In [864]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Ownership
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,Freehold
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,2,Freehold
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,2,Freehold
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,1,1,Freehold
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,2,Co-operative Society

In [865]:
df['Transaction'].value_counts()

Transaction
Resale          144172
New Property     42565
Other              709
Rent/Lease           2
Name: count, dtype: int64

In [866]:
df['Transaction'].fillna(df['Transaction'].mode()[0], inplace=True)

In [867]:
df['Status'].fillna(df['Status'].mode()[0], inplace=True)

In [868]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             187531 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187531 non-null  object
 10  Furnishing         187531 non-null  object
 11  Bathroom           187531 non-null  int64
 12  Balcony            187531 non-null  int64
 13  Ownership          187531 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 20.0+ MB

In [869]:
df.isnull().sum()

Index                    0
Title                    0
Description           3023
Amount(in rupees)        0
Price (in rupees)    17665
location                 0
Carpet Area          80673
Status                   0
Floor                 7077
Transaction              0
Furnishing               0
Bathroom                 0
Balcony                  0
Ownership                0
dtype: int64

In [870]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Ownership
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,Freehold
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,2,Freehold
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,2,Freehold
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,1,1,Freehold
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,2,Co-operative Society

In [871]:
df['Status'].value_counts()

Status
Ready to Move    187531
Name: count, dtype: int64

In [872]:
df.drop(columns=['Index','Description', 'Price (in rupees)'], inplace=True)

In [873]:
df.head()

,Title,Amount(in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Ownership
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,Freehold
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,2,Freehold
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,2,Freehold
3,1 BHK Ready to Occupy Flat for sale Kasheli,25 Lac,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,1,1,Freehold
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,1.60 Cr,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,2,Co-operative Society

## FEATURE ENGINEERING

In [874]:
df.isnull().sum()

Title                    0
Amount(in rupees)        0
location                 0
Carpet Area          80673
Status                   0
Floor                 7077
Transaction              0
Furnishing               0
Bathroom                 0
Balcony                  0
Ownership                0
dtype: int64

In [875]:
df['Floor'].value_counts()

Floor
2 out of 4                  12433
1 out of 4                  11985
3 out of 4                   8792
1 out of 3                   7093
4 out of 4                   6253
                            ...
32 out of 33                    1
Lower Basement out of 23        1
Ground out of 29                1
12                              1
7 out of 70                     1
Name: count, Length: 947, dtype: int64

In [876]:
df['Total Floor'] = (df['Floor'].str.extract(r'out of (\d+)').astype(float))

In [877]:
import re
def current_floor(x):
    try:
        if pd.isnull(x):
            return np.nan
        x = x.lower()
        if "lower basement" in x:
            return -2
        elif "upper basement" in x:
            return -0.5
        elif "basement" in x:
            return -1
        elif "ground" in x:
            return 0
        else:
            match = re.search(r'(\d+)', x)
            if match:
                return int(match.group(1))
            else:
                return np.nan
    except:
        return np.nan

In [878]:
df['Current Floor'] = df['Floor'].apply(current_floor)

In [879]:
df.head()

,Title,Amount(in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Ownership,Total Floor,Current Floor
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,Freehold,11.0,10.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,2,Freehold,22.0,3.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,2,2,Freehold,29.0,10.0
3,1 BHK Ready to Occupy Flat for sale Kasheli,25 Lac,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,1,1,Freehold,3.0,1.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,1.60 Cr,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,2,2,Co-operative Society,42.0,20.0

In [880]:
df.isnull().sum()

Title                    0
Amount(in rupees)        0
location                 0
Carpet Area          80673
Status                   0
Floor                 7077
Transaction              0
Furnishing               0
Bathroom                 0
Balcony                  0
Ownership                0
Total Floor           7126
Current Floor         7077
dtype: int64

In [881]:
df['Total Floor'].value_counts()

Total Floor
4.0      43885
5.0      20273
3.0      19325
10.0     13189
6.0       8980
         ...
72.0         2
84.0         1
150.0        1
200.0        1
70.0         1
Name: count, Length: 73, dtype: int64

In [882]:
df['Total Floor'].fillna(df['Total Floor'].mean(), inplace=True)

In [883]:
df['Current Floor'].value_counts()

Current Floor
 2.0      33545
 1.0      31522
 3.0      26829
 4.0      17873
 5.0      12677
 0.0      12354
 6.0       6964
 7.0       6722
 8.0       5429
 10.0      5015
 12.0      4382
 11.0      3035
 9.0       2992
 15.0      1638
 14.0      1619
 18.0      1263
 16.0      1179
 13.0      1096
 17.0       989
 19.0       887
 32.0       722
 20.0       348
 21.0       261
-0.5        226
 23.0       144
-2.0        136
 22.0       103
 25.0        94
 24.0        82
 26.0        63
 28.0        53
 30.0        47
 27.0        39
 29.0        24
 33.0        12
 40.0        12
 35.0        11
 31.0        11
 34.0        11
 38.0         7
 50.0         4
 42.0         4
 60.0         4
 37.0         3
 39.0         3
 45.0         3
 63.0         2
 70.0         2
 75.0         2
 46.0         2
 44.0         2
 36.0         2
 59.0         2
 51.0         2
 200.0        1
Name: count, dtype: int64

In [884]:
df['Current Floor'].fillna(df['Current Floor'].mean(), inplace=True)

In [885]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              187531 non-null  object
 1   Amount(in rupees)  187531 non-null  object
 2   location           187531 non-null  object
 3   Carpet Area        106858 non-null  object
 4   Status             187531 non-null  object
 5   Floor              180454 non-null  object
 6   Transaction        187531 non-null  object
 7   Furnishing         187531 non-null  object
 8   Bathroom           187531 non-null  int64
 9   Balcony            187531 non-null  int64
 10  Ownership          187531 non-null  object
 11  Total Floor        187531 non-null  float64
 12  Current Floor      187531 non-null  float64
dtypes: float64(2), int64(2), object(9)
memory usage: 18.6+ MB

In [886]:
df.drop(columns=['Floor'], inplace=True)

In [887]:
df.isnull().sum()

Title                    0
Amount(in rupees)        0
location                 0
Carpet Area          80673
Status                   0
Transaction              0
Furnishing               0
Bathroom                 0
Balcony                  0
Ownership                0
Total Floor              0
Current Floor            0
dtype: int64

In [888]:
df.head()

,Title,Amount(in rupees),location,Carpet Area,Status,Transaction,Furnishing,Bathroom,Balcony,Ownership,Total Floor,Current Floor
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,thane,500 sqft,Ready to Move,Resale,Unfurnished,1,2,Freehold,11.0,10.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,thane,473 sqft,Ready to Move,Resale,Semi-Furnished,2,2,Freehold,22.0,3.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,thane,779 sqft,Ready to Move,Resale,Unfurnished,2,2,Freehold,29.0,10.0
3,1 BHK Ready to Occupy Flat for sale Kasheli,25 Lac,thane,530 sqft,Ready to Move,Resale,Unfurnished,1,1,Freehold,3.0,1.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,1.60 Cr,thane,635 sqft,Ready to Move,Resale,Unfurnished,2,2,Co-operative Society,42.0,20.0

In [889]:
df['Carpet Area'] = df['Carpet Area'].str.lower()
# df['Carpet Area'] = df['Carpet Area'].str.replace(",", "", regex=False)
df['area_value'] = df['Carpet Area'].str.extract(r'(\d+\.?\d*)').astype(float)
df['Carpet Area(SQFT)'] = np.where(df['Carpet Area'].str.contains("sqm"), df['area_value'] * 10.7639, np.where(df['Carpet Area'].str.contains("sqy"), df['area_value'] * 9, df['area_value']))

In [890]:
df['Carpet Area(SQFT)'].describe()

count    106858.000000
mean       1262.016828
std        3067.120740
min           1.000000
25%         800.000000
50%        1064.000000
75%        1500.000000
max      709222.000000
Name: Carpet Area(SQFT), dtype: float64

In [891]:
df.head()

,Title,Amount(in rupees),location,Carpet Area,Status,Transaction,Furnishing,Bathroom,Balcony,Ownership,Total Floor,Current Floor,area_value,Carpet Area(SQFT)
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,thane,500 sqft,Ready to Move,Resale,Unfurnished,1,2,Freehold,11.0,10.0,500.0,500.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,thane,473 sqft,Ready to Move,Resale,Semi-Furnished,2,2,Freehold,22.0,3.0,473.0,473.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,thane,779 sqft,Ready to Move,Resale,Unfurnished,2,2,Freehold,29.0,10.0,779.0,779.0
3,1 BHK Ready to Occupy Flat for sale Kasheli,25 Lac,thane,530 sqft,Ready to Move,Resale,Unfurnished,1,1,Freehold,3.0,1.0,530.0,530.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,1.60 Cr,thane,635 sqft,Ready to Move,Resale,Unfurnished,2,2,Co-operative Society,42.0,20.0,635.0,635.0

In [892]:
df.isnull().sum()

Title                    0
Amount(in rupees)        0
location                 0
Carpet Area          80673
Status                   0
Transaction              0
Furnishing               0
Bathroom                 0
Balcony                  0
Ownership                0
Total Floor              0
Current Floor            0
area_value           80673
Carpet Area(SQFT)    80673
dtype: int64

In [893]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              187531 non-null  object
 1   Amount(in rupees)  187531 non-null  object
 2   location           187531 non-null  object
 3   Carpet Area        106858 non-null  object
 4   Status             187531 non-null  object
 5   Transaction        187531 non-null  object
 6   Furnishing         187531 non-null  object
 7   Bathroom           187531 non-null  int64
 8   Balcony            187531 non-null  int64
 9   Ownership          187531 non-null  object
 10  Total Floor        187531 non-null  float64
 11  Current Floor      187531 non-null  float64
 12  area_value         106858 non-null  float64
 13  Carpet Area(SQFT)  106858 non-null  float64
dtypes: float64(4), int64(2), object(8)
memory usage: 20.0+ MB

In [894]:
df[df['Carpet Area(SQFT)'] > 10000][["Carpet Area", "Carpet Area(SQFT)"]].head(10)

       Carpet Area  Carpet Area(SQFT)
829       6363 sqm         68490.6957
1101      1200 sqm         12916.6800
2786    1210 sqyrd         10890.0000
4881    1600 sqyrd         14400.0000
16699   11000 sqft         11000.0000
41560   43500 sqft         43500.0000
50623   2450 sqyrd         22050.0000
50895  194936 sqft        194936.0000
51910   11500 sqft         11500.0000
52067   15500 sqft         15500.0000

In [895]:
df[df['Carpet Area(SQFT)'] < 100][["Carpet Area", "Carpet Area(SQFT)"]].head(10)

     Carpet Area  Carpet Area(SQFT)
2834     73 sqft               73.0
3002     82 sqft               82.0
3054     66 sqft               66.0
3291     91 sqft               91.0
3292     63 sqft               63.0
3523     81 sqft               81.0
3606     95 sqft               95.0
3732     51 sqft               51.0
4832     80 sqft               80.0
5023     92 sqft               92.0

In [896]:
df['Carpet Area(SQFT)'].describe()

count    106858.000000
mean       1262.016828
std        3067.120740
min           1.000000
25%         800.000000
50%        1064.000000
75%        1500.000000
max      709222.000000
Name: Carpet Area(SQFT), dtype: float64

In [897]:
df = df[(df['Carpet Area(SQFT)'] >= 300) & (df['Carpet Area(SQFT)'] <= 6000)]

In [898]:
df['Carpet Area(SQFT)'].describe()

count    104372.000000
mean       1252.652926
std         686.459580
min         300.000000
25%         833.000000
50%        1093.000000
75%        1520.000000
max        6000.000000
Name: Carpet Area(SQFT), dtype: float64

In [899]:
df['Carpet Area(SQFT)'].fillna(df['Carpet Area(SQFT)'].median(), inplace=True)

In [900]:
df.isnull().sum()

Title                0
Amount(in rupees)    0
location             0
Carpet Area          0
Status               0
Transaction          0
Furnishing           0
Bathroom             0
Balcony              0
Ownership            0
Total Floor          0
Current Floor        0
area_value           0
Carpet Area(SQFT)    0
dtype: int64

In [901]:
df.drop(columns=['Carpet Area', 'area_value'], inplace=True)

In [902]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104372 entries, 0 to 187528
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              104372 non-null  object
 1   Amount(in rupees)  104372 non-null  object
 2   location           104372 non-null  object
 3   Status             104372 non-null  object
 4   Transaction        104372 non-null  object
 5   Furnishing         104372 non-null  object
 6   Bathroom           104372 non-null  int64
 7   Balcony            104372 non-null  int64
 8   Ownership          104372 non-null  object
 9   Total Floor        104372 non-null  float64
 10  Current Floor      104372 non-null  float64
 11  Carpet Area(SQFT)  104372 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 10.4+ MB

In [903]:
df.head()

,Title,Amount(in rupees),location,Status,Transaction,Furnishing,Bathroom,Balcony,Ownership,Total Floor,Current Floor,Carpet Area(SQFT)
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 Lac,thane,Ready to Move,Resale,Unfurnished,1,2,Freehold,11.0,10.0,500.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 Lac,thane,Ready to Move,Resale,Semi-Furnished,2,2,Freehold,22.0,3.0,473.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 Cr,thane,Ready to Move,Resale,Unfurnished,2,2,Freehold,29.0,10.0,779.0
3,1 BHK Ready to Occupy Flat for sale Kasheli,25 Lac,thane,Ready to Move,Resale,Unfurnished,1,1,Freehold,3.0,1.0,530.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,1.60 Cr,thane,Ready to Move,Resale,Unfurnished,2,2,Co-operative Society,42.0,20.0,635.0

In [904]:
df['Amount(in rupees)'].value_counts()

Amount(in rupees)
Call for Price    4437
1.75 Cr           2734
65 Lac            2414
75 Lac            2178
85 Lac            2164
                  ...
229.80 Cr            1
396.75 Cr            1
7.9 Lac              1
5.3 Lac              1
73.7 Lac             1
Name: count, Length: 1359, dtype: int64

In [905]:
df['Amount(in rupees)'] = df['Amount(in rupees)'].str.lower().str.strip()
df['amount_value'] = df['Amount(in rupees)'].str.extract(r'(\d+\.?\d*)').astype(float)

In [906]:
df['Price(in lakhs)'] = np.where(df['Amount(in rupees)'].str.contains("cr"), df['amount_value'] * 100, df['amount_value'])

In [907]:
df[['Amount(in rupees)', 'Price(in lakhs)']].head(10)

   Amount(in rupees)  Price(in lakhs)
0             42 lac             42.0
1             98 lac             98.0
2            1.40 cr            140.0
3             25 lac             25.0
4            1.60 cr            160.0
6           16.5 lac             16.5
9            1.60 cr            160.0
10           1.40 cr            140.0
13           4.25 cr            425.0
15            90 lac             90.0

In [908]:
df['Price(in lakhs)'].describe()

count     99935.000000
mean        135.930489
std         513.786474
min           1.100000
25%          50.000000
50%          83.000000
75%         175.000000
max      140030.000000
Name: Price(in lakhs), dtype: float64

In [909]:
df = df[(df['Price(in lakhs)'] >= 7) & (df['Price(in lakhs)'] <= 1200)]

In [910]:
df['Price(in lakhs)'].describe()

count    99823.000000
mean       131.747463
std        132.658190
min          7.000000
25%         50.000000
50%         83.000000
75%        175.000000
max       1200.000000
Name: Price(in lakhs), dtype: float64

In [911]:
df.describe()

,Bathroom,Balcony,Total Floor,Current Floor,Carpet Area(SQFT),amount_value,Price(in lakhs)
count,99823.000000,99823.000000,99823.000000,99823.000000,99823.000000,99823.000000,99823.000000
mean,2.547619,2.065266,8.816022,4.724622,1269.236470,32.000235,131.747463
std,0.884968,0.937487,7.387360,4.904955,684.015683,30.316498,132.658190
min,1.000000,1.000000,1.000000,-2.000000,300.000000,1.000000,7.000000
25%,2.000000,1.000000,4.000000,2.000000,850.000000,2.110000,50.000000
50%,2.000000,2.000000,6.000000,3.000000,1100.000000,26.100000,83.000000
75%,3.000000,3.000000,11.000000,6.000000,1550.000000,57.900000,175.000000
max,11.000000,11.000000,150.000000,60.000000,6000.000000,100.000000,1200.000000

In [912]:
df.head()

,Title,Amount(in rupees),location,Status,Transaction,Furnishing,Bathroom,Balcony,Ownership,Total Floor,Current Floor,Carpet Area(SQFT),amount_value,Price(in lakhs)
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 lac,thane,Ready to Move,Resale,Unfurnished,1,2,Freehold,11.0,10.0,500.0,42.0,42.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 lac,thane,Ready to Move,Resale,Semi-Furnished,2,2,Freehold,22.0,3.0,473.0,98.0,98.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 cr,thane,Ready to Move,Resale,Unfurnished,2,2,Freehold,29.0,10.0,779.0,1.4,140.0
3,1 BHK Ready to Occupy Flat for sale Kasheli,25 lac,thane,Ready to Move,Resale,Unfurnished,1,1,Freehold,3.0,1.0,530.0,25.0,25.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,1.60 cr,thane,Ready to Move,Resale,Unfurnished,2,2,Co-operative Society,42.0,20.0,635.0,1.6,160.0

In [913]:
df['Title'][0]

'1 BHK Ready to Occupy Flat for sale in Srushti Siddhi Mangal Murti Complex Bhiwandi'

In [914]:
df['BHK'] = (df['Title'].str.extract(r'(\d+)\s*bhk', flags=re.IGNORECASE).astype(float))

In [915]:
df.head()

,Title,Amount(in rupees),location,Status,Transaction,Furnishing,Bathroom,Balcony,Ownership,Total Floor,Current Floor,Carpet Area(SQFT),amount_value,Price(in lakhs),BHK
0,1 BHK Ready to Occupy Flat for sale in Srushti...,42 lac,thane,Ready to Move,Resale,Unfurnished,1,2,Freehold,11.0,10.0,500.0,42.0,42.0,1.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,98 lac,thane,Ready to Move,Resale,Semi-Furnished,2,2,Freehold,22.0,3.0,473.0,98.0,98.0,2.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,1.40 cr,thane,Ready to Move,Resale,Unfurnished,2,2,Freehold,29.0,10.0,779.0,1.4,140.0,2.0
3,1 BHK Ready to Occupy Flat for sale Kasheli,25 lac,thane,Ready to Move,Resale,Unfurnished,1,1,Freehold,3.0,1.0,530.0,25.0,25.0,1.0
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,1.60 cr,thane,Ready to Move,Resale,Unfurnished,2,2,Co-operative Society,42.0,20.0,635.0,1.6,160.0,2.0

In [916]:
df.drop(columns=['Title', 'Amount(in rupees)', 'amount_value'], inplace=True)

In [917]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99823 entries, 0 to 187528
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location           99823 non-null  object
 1   Status             99823 non-null  object
 2   Transaction        99823 non-null  object
 3   Furnishing         99823 non-null  object
 4   Bathroom           99823 non-null  int64
 5   Balcony            99823 non-null  int64
 6   Ownership          99823 non-null  object
 7   Total Floor        99823 non-null  float64
 8   Current Floor      99823 non-null  float64
 9   Carpet Area(SQFT)  99823 non-null  float64
 10  Price(in lakhs)    99823 non-null  float64
 11  BHK                99701 non-null  float64
dtypes: float64(5), int64(2), object(5)
memory usage: 11.9+ MB

In [918]:
df.head()

,location,Status,Transaction,Furnishing,Bathroom,Balcony,Ownership,Total Floor,Current Floor,Carpet Area(SQFT),Price(in lakhs),BHK
0,thane,Ready to Move,Resale,Unfurnished,1,2,Freehold,11.0,10.0,500.0,42.0,1.0
1,thane,Ready to Move,Resale,Semi-Furnished,2,2,Freehold,22.0,3.0,473.0,98.0,2.0
2,thane,Ready to Move,Resale,Unfurnished,2,2,Freehold,29.0,10.0,779.0,140.0,2.0
3,thane,Ready to Move,Resale,Unfurnished,1,1,Freehold,3.0,1.0,530.0,25.0,1.0
4,thane,Ready to Move,Resale,Unfurnished,2,2,Co-operative Society,42.0,20.0,635.0,160.0,2.0

In [919]:
df.isnull().sum()

location               0
Status                 0
Transaction            0
Furnishing             0
Bathroom               0
Balcony                0
Ownership              0
Total Floor            0
Current Floor          0
Carpet Area(SQFT)      0
Price(in lakhs)        0
BHK                  122
dtype: int64

In [920]:
df['BHK'].value_counts()

BHK
3.0     45027
2.0     37090
4.0     12675
1.0      3966
5.0       886
6.0        34
10.0       11
7.0        10
8.0         2
Name: count, dtype: int64

In [921]:
df['BHK'].fillna(df['BHK'].mean(), inplace=True)

In [922]:
df.head()

,location,Status,Transaction,Furnishing,Bathroom,Balcony,Ownership,Total Floor,Current Floor,Carpet Area(SQFT),Price(in lakhs),BHK
0,thane,Ready to Move,Resale,Unfurnished,1,2,Freehold,11.0,10.0,500.0,42.0,1.0
1,thane,Ready to Move,Resale,Semi-Furnished,2,2,Freehold,22.0,3.0,473.0,98.0,2.0
2,thane,Ready to Move,Resale,Unfurnished,2,2,Freehold,29.0,10.0,779.0,140.0,2.0
3,thane,Ready to Move,Resale,Unfurnished,1,1,Freehold,3.0,1.0,530.0,25.0,1.0
4,thane,Ready to Move,Resale,Unfurnished,2,2,Co-operative Society,42.0,20.0,635.0,160.0,2.0

In [923]:
df.describe()

,Bathroom,Balcony,Total Floor,Current Floor,Carpet Area(SQFT),Price(in lakhs),BHK
count,99823.000000,99823.000000,99823.000000,99823.000000,99823.000000,99823.000000,99823.000000
mean,2.547619,2.065266,8.816022,4.724622,1269.236470,131.747463,2.695630
std,0.884968,0.937487,7.387360,4.904955,684.015683,132.658190,0.781667
min,1.000000,1.000000,1.000000,-2.000000,300.000000,7.000000,1.000000
25%,2.000000,1.000000,4.000000,2.000000,850.000000,50.000000,2.000000
50%,2.000000,2.000000,6.000000,3.000000,1100.000000,83.000000,3.000000
75%,3.000000,3.000000,11.000000,6.000000,1550.000000,175.000000,3.000000
max,11.000000,11.000000,150.000000,60.000000,6000.000000,1200.000000,10.000000

## TRAINING MODEL

In [924]:
X = df.drop("Price(in lakhs)", axis=1)

In [925]:
y = df["Price(in lakhs)"]

In [926]:
X = pd.get_dummies(X, drop_first=True)

In [927]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [928]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [929]:
models = {
    'Random Forest': RandomForestRegressor(random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(random_state=42),
    'Decision Tree' : DecisionTreeRegressor(random_state=42),
}

best_model = None
best_score = -np.inf
best_model_name = None

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))

    print(f'{model_name}:')
    print(f'R-squared: {r2:.2f}')
    print(f'MAE: {mae:.2f}')
    print(f'RMSE: {rmse:.2f}')
    print('----------------------------------------')
    
    if r2 > best_score:
        best_score = r2
        best_model = model
        best_model_name = model_name

print(f"Best Model: {best_model_name}")

Random Forest:
R-squared: 0.95
MAE: 9.66
RMSE: 31.29
----------------------------------------
Gradient Boosting:
R-squared: 0.90
MAE: 24.81
RMSE: 43.10
----------------------------------------
Decision Tree:
R-squared: 0.90
MAE: 11.78
RMSE: 42.83
----------------------------------------
Best Model: Random Forest

## SAVING MODEL

In [930]:
import joblib

In [931]:
joblib.dump(best_model, "best_model.pkl", compress=9)

['best_model.pkl']

In [932]:
joblib.dump(X.columns.tolist(), "columns.pkl")

['columns.pkl']

In [933]:
print(X.columns.tolist(
))

['Bathroom', 'Balcony', 'Total Floor', 'Current Floor', 'Carpet Area(SQFT)', 'BHK', 'location_ahmadnagar', 'location_ahmedabad', 'location_allahabad', 'location_aurangabad', 'location_badlapur', 'location_bangalore', 'location_belgaum', 'location_bhiwadi', 'location_bhiwandi', 'location_bhopal', 'location_bhubaneswar', 'location_chandigarh', 'location_chennai', 'location_coimbatore', 'location_dehradun', 'location_durgapur', 'location_ernakulam', 'location_faridabad', 'location_ghaziabad', 'location_goa', 'location_greater-noida', 'location_guntur', 'location_gurgaon', 'location_guwahati', 'location_gwalior', 'location_haridwar', 'location_hyderabad', 'location_indore', 'location_jabalpur', 'location_jaipur', 'location_jamshedpur', 'location_jodhpur', 'location_kalyan', 'location_kanpur', 'location_kochi', 'location_kolkata', 'location_kozhikode', 'location_lucknow', 'location_ludhiana', 'location_madurai', 'location_mangalore', 'location_mohali', 'location_mumbai', 'location_mysore', 'location_nagpur', 'location_nashik', 'location_navi-mumbai', 'location_navsari', 'location_nellore', 'location_new-delhi', 'location_noida', 'location_palakkad', 'location_palghar', 'location_panchkula', 'location_patna', 'location_pondicherry', 'location_pune', 'location_raipur', 'location_rajahmundry', 'location_ranchi', 'location_satara', 'location_shimla', 'location_siliguri', 'location_solapur', 'location_sonipat', 'location_surat', 'location_thane', 'location_thrissur', 'location_tirupati', 'location_trichy', 'location_trivandrum', 'location_udaipur', 'location_udupi', 'location_vadodara', 'location_vapi', 'location_varanasi', 'location_vijayawada', 'location_visakhapatnam', 'location_vrindavan', 'location_zirakpur', 'Transaction_Other', 'Transaction_Rent/Lease', 'Transaction_Resale', 'Furnishing_Semi-Furnished', 'Furnishing_Unfurnished', 'Ownership_Freehold', 'Ownership_Leasehold', 'Ownership_Power Of Attorney']